@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

body{
    background-color: rgb(255, 238, 0);
}

.elements{
    margin-top: 27vh;
    text-align: center;
}

button{
    margin: 3vh 1vh 1vh;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-width: 3px;
    background-color: white;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(161, 149, 11);
    cursor: pointer;
}

.question {
    animation-name: fadein;
    animation-duration: 2s;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Work Sans', sans-serif;
}

.stats{
    visibility:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.stats-percentage{
    width: 50px;
    background-color: black;
    color: white;
    font-size: 23px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-text{
    width: 200px;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 7px;
}

.credits {
    position:absolute;
    right: 0;
    bottom:0;
    margin: 2rem;
}

.credits-text{
    font-size: 0.75rem;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 3em;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 5px 5px 10px rgb(161, 149, 11);
    cursor: pointer;
    border-width: 0.2em;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@keyframes fadein {
    from {color: rgba(0, 0, 0, 0) }
    to {color: rgb(0, 0, 0)}
}

@media(hover: hover) {
    button:hover, .credits-text:hover{
        background-color: rgb(224, 224, 224);
        box-shadow: 2.5px 2.5px 10px rgb(161, 149, 11);
    }
}

@media (max-width: 1000px) {
    .credits{
        visibility: hidden;
    }
}
