@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

body{
    background-color: rgb(255, 238, 0);
}

.elements{
    margin-top: 27vh;
    text-align: center;
}

button{
    margin-top: 3vh;
    margin: 1vh;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border-width: 3px;
    background-color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgb(161, 149, 11);
}

.question {
    animation-name: fadein;
    animation-duration: 2s;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Work Sans', sans-serif;
}

.stats{
    visibility:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.stats-percentage{
    width: 50px;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.stats-text{
    width: 200px;
    height: 38px;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 5px;
}

@keyframes fadein {
    from {color: rgba(0, 0, 0, 0) }
    to {color: rgb(0, 0, 0)}
}

@media(hover: hover) {
    button:hover{
        background-color: rgb(210, 210, 210);
        box-shadow: 5px 5px 10px rgb(161, 149, 11);
    }
}
